[tool.poetry]
name = "django-omise"
version = "0.2.11"
description = "Django models for Omise"
authors = ["James Tansiri <tansirijames@gmail.com>"]
license = "MIT"
readme = "README.md"
packages = [{include = "django_omise"}]
repository = "https://github.com/jamesx00/django-omise"

[tool.poetry.scripts]
test_coverage = "cli.tests:run_test_coverage"
install_omise = 'cli.dependencies:install_compatible_omise'

[tool.poetry.dependencies]
python = "^3.7"
omise = "^0.11.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"
twine = "4.0.1"
Django = "^3.2.11"
pytest-django = "4.5.2"
psycopg2 = "^2.9.3"
pytest-cov = "^3.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
